* {
  margin: 0px;
  padding: 0px;
}
#login_form h1 {
  text-align: center;
}
.header {
  width: 85%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
.header h5{
  color:#a94442;
}
body {
  /*sfont-size: 120%;*/
  background: #F8F8FF;
  color: #1222B5;
}
#login_form{
  width: 85%;
  margin: 0px auto 0px;
  color: white;
  background: skyblue;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
}
#login_form input {
  width: 50%;
  height: 30px;
  margin: 3px 1%;
  font-size: 1.1em;
  padding: 4px;
  font-size: .9em;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
#log_btn {
  height: 35px;
  width: 80%;
  /*margin: 5px 10%;*/
  color: white;
  background: #3B5998;
  border: none;
  border-radius: 10px;
}
#checkbox input{
  height: 30px;
  width: 10%;
}
.robot{
  text-align: left;
  margin: 10px auto;
}
a{
  text-decoration: none;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}