*{
  margin:0px;
  padding: 0px;
}
.astrik{
  color: red;
}
#register_form h1 {
  text-align: center;
}
.register_header>h5 {
  color: #a94442;
}
.register_header {
  width: 98%;
  /*margin: 50px auto 0px;*/
  color: #1222B5;
  background: #5F9EA0;
  text-align: center;
  border: 5px solid #EEB5B5;
  /*border-bottom: none;*/
  /*border-radius: 10px 10px 0px 0px;*/
  height: 100px;
}
#register_form {
  width: 98%;
  /*margin: 0px auto 0px;*/
  color: #1222B5;
  background: #EEB5B5;
  text-align: center;
  border: 5px solid #EEB5B5;
  /*border-bottom: none;*/
  /*border-radius: 0px 0px 10px 10px;*/
  /*padding: 20px;*/
  }
#register_form input {
  width: 30%;
  height: 30px;
  margin: 3px 1%;
  font-size: 1.1em;
  padding: 4px;
  font-size: .9em;
}
.form_error span {
  width: 80%;
  height: 35px;
  margin: 1px 1%;
  font-size: 1.0em;
  color: #D83D5A;
}
.form_error input {
  border: 1px solid #D83D5A;
}
#reg_btn {
  height: 35px;
  width: 80%;
  /*margin: 5px 10%;*/
  color: white;
  background: #3B5998;
  border: none;
  border-radius: 10px;
}
#checkbox input{
  /*text-align: left;*/
  height: 30px;
  width: 10%;
}
.privacyPolicy{
  text-align: left;
  margin: 10px auto;
}
a{
  text-decoration: none;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}