*{
	margin: 0px;
	padding: 0px;
}
.resetpwd_header{
  width: 98%;
  color: #1222B5;
  background: #5F9EA0;
  text-align: center;
  border: 10px solid #EEB5B5;
  border-bottom: none;
  height: 80px;
}
.resetpwd_header h2{
  padding-top: 10px;
  text-decoration: underline;
}
.resetpwd_header h5{
  color:#a94442;
}
#resetpwd_form{
	width: 98%;
  min-height: 380px;
  color: #1222B5;
  background: #EEB5B5;
  text-align: center;
  border: 10px solid #EEB5B5;
}
#resetpwd_form input{
	  width: 50%;
  height: 30px;
  margin: 3px 1%;
  font-size: 1.1em;
  padding: 4px;
  font-size: .9em;
}
#resetpwd_btn{
	  height: 35px;
  width: 80%;
  /*margin: 5px 10%;*/
  color: white;
  background: #3B5998;
  border: none;
  border-radius: 10px;
}
a{
  text-decoration: none;
}
#resetpwd_form>div>p>span:hover{
	background-color: grey;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: center;
}
/*.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
  width: 98%;
  padding: 20px;
}*/